<nz-spin [nzSpinning]="isSpinning" [nzDelay]="500" nzTip="Loading...">
<div style="margin: 10px">
  抽獎活動:
  <nz-select
    style="width: 20vw"
    nzPlaceHolder="Please select"
    nzShowSearch
    nzServerSearch
    [formControl]="selectedActivity"
  >
  <div *ngIf="!isLoading">
    <ng-container *ngFor="let activity of this.activityList" >
      <nz-option
        [nzValue]="activity.activityOid"
        [nzLabel]="activity.name"
      ></nz-option>

    </ng-container>
  </div>

    <ng-container *ngIf="isLoading">
      <nz-option  nzDisabled nzCustomContent>
        <i nz-icon nzType="loading" class="loading-icon"></i>
        Loading Data...
      </nz-option>
    </ng-container>

  </nz-select>
  <label style="margin: 0px 20px"> 總獎項: {{ activity?.prizeCount }} </label>
  <label style="margin: 0px 20px"> 參加人數: {{ activity?.usersCount }} </label>
  <button
    style="margin-left: 70em"
    nz-button
    nzType="primary"
    (click)="showModal()"
  >
    <span>新增抽獎活動</span>
  </button>
</div>

<div style="margin: 10px; height: 500px" *ngIf="this.activity">
  <button
    nz-button
    nzType="primary"
    *ngIf="this.activity.info.length < this.activity.prizeCount"
    (click)="this.showAddItem()"
  >
    <label>新增{{ activity.name }}獎項</label>
  </button>
  <nz-table #table [nzData]="prizeInfo" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>獎項</th>
        <th>人數</th>
        <th></th>
        <th>中獎名單</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of table.data"
        style="width: 80%; white-space: nowrap"
      >
        <td>{{ data.prize }}</td>
        <td>{{ data.quota }}</td>
        <td>
          <span *ngIf="data.list === ''"
            >
            <button nz-button nzType="primary" (click)="draw(data)" [disabled]="!this.isAbleClicked" nzColor="success" disabled>開始抽獎</button>
            </span
          >
        </td>
        <td>
          <span style="max-height: 20px"> {{ data.list }}</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="新增抽獎活動"
  [nzFooter]=null
  (nzOnCancel)="handleCancel()"
>

  <ng-container *nzModalContent>
    <form nz-form [formGroup]="newActivityForm">
      活動名稱:
      <div>
        <input type="text" formControlName="name" required maxlength="10" />
      </div>
      參加人數:
      <div><input type="text" formControlName="usersCount" required maxlength="5"/></div>
      總獎數:
      <div><input type="text" formControlName="prizeCount" required maxlength="2" /></div>
      <button
        nzType="primary"
        [disabled]="!this.newActivityForm.valid"
        nz-button
        (click)="createActivity()"
      >
        新增抽獎活動
      </button>
      {{this.createSuccMessage}}
    </form>
  </ng-container>
</nz-modal>


<ng-template #prizeTmpl>
  <form nz-form [formGroup]="prizeForm">
    <div>
      Prize:
      <div><input type="text" disabled formControlName="prize" required /></div>
      Quota:
      <div><input type="text" formControlName="quota" required /></div>

      <div>
        <button
        [disabled]="!this.prizeForm.valid ||  this.currentPrize === 0"
        nzType="primary"
        nz-button
        (click)="createPrizeInfo()"
      >
        新增獎項
      </button>
      </div>
    </div>
  </form>
</ng-template>
</nz-spin>



