<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="新增抽獎活動"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>

<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
</ng-template>

  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      Activity name:
      <div>
       <input type="text" formControlName="name" required />
      </div>
      Year:
      <div> <input type="text" formControlName="year" required/></div>
      Month:
      <div
        > <input type="text" formControlName="month" required
      /></div>
      day:
      <div>
       <input type="text" formControlName="day" required
      /></div>
      usersCount:
      <div
        > <input type="text" formControlName="usersCount" required
      /></div>
      prizeCount:
      <div
        > <input type="text" formControlName="prizeCount" required
      /></div>
      <button nzType="primary" nz-button (click)="createActivity()">新增抽獎活動</button>
      <nz-divider></nz-divider>
    </form>
    <hr/>
    <div>
      Activity ID:
      <div
        > <input type="text" [formControl]="newActivityId" required
      /></div>
      Prize:
      <div
        > <input type="text" [formControl]="prize" required
      /></div>
      Quota:
      <div
        > <input type="text" [formControl]="quota" required
      /></div>
      <button [disabled]="this.newActivityId.value == ''" nzType="primary" nz-button (click)="createPrizeInfo()">新增獎項</button>
    </div>
  </ng-container>
</nz-modal>

<div style="margin: 10px">
  <label>
    抽獎名稱:
    <input type="text" [formControl]="name" />
  </label>
  <label>
    年:
    <input type="text" [formControl]="year" />
  </label>
  <label>
    月:
    <input type="text" [formControl]="month" />
  </label>
  <label>
    日:
    <input type="text" [formControl]="day" />
  </label>

  <button
    style="margin-left: 10px"
    nz-button
    nzType="primary"
    (click)="getActivity()"
  >
    查詢
  </button>
  <label style="margin-right: 20px"> 總獎項: {{ activity?.prizeCount }} </label>

  <label style="margin-right: 5px">
    參加人數: {{ activity?.usersCount }}
  </label>
  <button
    style="margin-left: 550px"
    nz-button
    nzType="primary"
    (click)="showModal()"
  >
    <span>新增抽獎活動</span>
  </button>
</div>

<nz-table #table [nzData]="activity?.info">
  <thead>
    <tr>
      <th>獎項</th>
      <th>人數</th>
      <th></th>
      <th style="max-width: 300px">中獎名單</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let data of table.data"
      style="table-layout: fixed; width: 100%"
    >
      <td>{{ data.prize }}</td>
      <td>{{ data.quota }}</td>
      <td>
        <span *ngIf="data.list.length < 1" (click)="draw(data)"
          ><a>開始抽獎 </a></span
        >
      </td>
      <td>
        <span style="max-height: 60px"> {{ data.list }}</span>
      </td>
    </tr>
  </tbody>
</nz-table>
